@import url('https://fonts.googleapis.com/css?family=Rozha+One');

body {
    margin: 0;
    background-image: url("images/chuck_norris.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    height: 90vh;
    position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.get-joke {
    position: absolute;
    top: 80%;
    left: 35%;
    height: 80px;
    width: 320px;
    font-family: 'Rozha One', serif;
    font-size: 35px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #E5E5E5;
    color: black;
    background-color: #A7A7A7;
    text-transform: uppercase;
}

.joke {
    font-family: 'Rozha One', serif;
    text-align: center;
    font-size: 40px;
}